@images: "/img";

@tablet-width: 768px;
@desktop-width: 1366px;
@mobile-width-only: 767px;

@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

@alto: rgb(221, 221, 221);
@black: rgb(0, 0, 0);
@mine-shaft: rgb(45, 40, 41);
@white: rgb(255, 255, 255);
@torch-red: rgb(245, 0, 73);
@linen:rgb(251, 235, 234);
