.about-us {
  margin: 0 auto;
  padding: 0;
  max-width: 280px;
  width: 100%;
}

.about-us__title {
  text-align: center;
  font-family: "PlayfairDisplayBold", "Ärial", sans-serif;
  font-size: 24px;
}

.about-us__wrapper {
  display: flex;
}

.about-us__social-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about-us__images {
  border-radius: 50%;
  margin-right: 30px;
}

.about-us__tagline {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-family: "IntroScriptRH2Base", "Arial", sans-serif;
  font-size: 22px;
  text-align: left;
}

.about-us__subtitle {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-family: "CirceBold", "Arial", sans-serif;
  font-size: 14px;
}

.about-us__text {
  margin: 0;
  padding: 0;
  font-family: "CirceRegular", "Arial", sans-serif;
  font-size: 14px;
  margin-bottom: 20px;
}
