.advantage {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  background-color: @white;
  @media (min-width: @tablet-width) {
width: 768px;
    height: 380px;
    background-color: @rose-background;
    background-image: url("@{images}/bg-advantage-tablet@1x.png");
    background-size: 310px 380px;
    background-position-x: left;
    background-repeat: no-repeat;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("@{images}/bg-advantage-tablet@2x.png");
    }
  }
}

.advantage__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-top: 20px;
  text-align: center;
  font-family: "PlayfairDisplayBold", "Ärial", sans-serif;
  font-size: 24px;
  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    font-size: 28px;
  }
}

.advantage__tagline {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-family: "IntroScriptRH2Base", "Arial", sans-serif;
  font-size: 22px;
  text-align: center;
  @media (min-width: @tablet-width) {
    font-size: 26px;
  }
}

.advantage__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    width: 330px;
    height: 250px;
  }
}

.advantage__subtitle {
  margin: 0 auto;
  margin-top: 80px;
  padding: 0;
  max-width: 280px;
  text-align: center;
  font-family: "CirceBold", "Arial", sans-serif;
  font-size: 16px;
  @media (min-width: @tablet-width) {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
  }
}

.advantage__text {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 20px;
  max-width: 280px;
  text-align: center;
  font-family: "CirceRegular", "Arial", sans-serif;
  font-size: 14px;
  @media (min-width: @tablet-width) {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    text-align: left;
  }
}
