.cake-order {
  margin: 0 auto;
  max-width: 280px;
  width: 100%;
}

.cake-order__title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  width: 278px;
  text-align: center;
  font-family: "PlayfairDisplayBold", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: @text-color;
}

.cake-order__tagline {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  text-align: center;
  font-family: "IntroScriptRH2Base", "Arial", sans-serif;
  font-size: 22px;
  line-height: 10px;
  color: @tagline-color;
}

.cake-order__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cake-order__items {
  background-color: @white;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.cake-order__items-title {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  margin-bottom: 20px;
  font-family: "PlayfairDisplayBold", "Arial", sans-serif;
  color: @button-color;
  text-align: left;
  font-size: 16px;
  line-height: 5px;

  & span {
    margin-right: 10px;
    font-size: 30px;
    line-height: 10px;
  }
}
