.contact {
  margin: 0 auto;
  padding: 0;
  width: 280px;
  @media (min-width: @tablet-width) {
    display: flex;
    width: 768px;
    height: 590px;
    background-image: url("@{images}/bg-contact-tablet@1x.png");
    background-size: 451px 320px;
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("@{images}/bg-contact-tablet@2x.png");
    }
  }
}

.contact__wrapper-tablet {
  @media (min-width: @tablet-width) {
    margin-left: 48px;
    margin-top: 40px;
    width: 320px;
    &:last-child {
      margin-top: 110px;
    }
  }
}

.contact__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-top: 30px;
  text-align: center;
  font-family: "PlayfairDisplayBold", "Arial", sans-serif;
  font-size: 24px;
  @media (min-width: @tablet-width) {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    font-size: 28px;
  }
}

.contact__tagline {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-family: "IntroScriptRH2Base", "Arial", sans-serif;
  font-size: 22px;
  line-height: 10px;
  color: @tagline-color;
  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }
}

.contact__call {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-family: "CirceRegular", "Arial", sans-serif;
  font-size: 14px;
}

.contact__form-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.contact__form-item input {
  margin-bottom: 10px;
  width: 268px;
  height: 38px;
  font-family: "CirceRegular", "Arial", sans-serif;
  font-size: 14px;
  padding: 6px 0 4px 10px;
  border: 1px solid #cecece;
  border-radius: 3px;
  @media (min-width: @tablet-width) {
    width: 308px;
  }
}

.contact__form-item textarea {
  overflow: auto;
  resize: none;
  width: 268px;
  height: 102px;
  font-family: "CirceRegular", "Arial", sans-serif;
  font-size: 14px;
  border: 1px solid #cecece;
  border-radius: 3px;
  padding: 8px 0 8px 10px;
  margin-bottom: 20px;
  @media (min-width: @tablet-width) {
    width: 308px;
  }
}

.contact__form-button--wrapper {
  margin: 0 auto;
}

.contact__form-button {
  display: block;
  width: 225px;
  margin: 0 auto;
  font-family: "CirceRegular", "Arial", sans-serif;
  color: @white;
  font-size: 19px;
  text-transform: none;
  border: none;
  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.contact__text {
  width: 220px;
  font-family: "CirceRegular", "Arial", sans-serif;
  font-size: 14px;
}

.contact__social-list {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
  display: flex;
}

.contact__social-item {
  margin-right: 30px;
  background-color: @white;
  width: 63px;
  height: 63px;
  border-radius: 50%;
}
