.decor {
  margin: 0;
  padding: 0;
  @media (min-width: @tablet-width) {
    background-image: url("@{images}/bg-cake-decor-tablet@1x.png");
    background-size: 119px 157px;
    background-position-x: left;
    background-position-y: 115px;
    background-repeat: no-repeat;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("@{images}/bg-cake-decor-tablet@2x.png");
    }
  }
}

.decor__title {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 20px;
  width: 240px;
  font-family: "PlayfairDisplayBold", "Arial", sans-serif;
  color: @button-color;
  text-align: left;
  font-size: 16px;
  line-height: 16px;
  & span {
    margin-right: 10px;
    font-size: 30px;
    line-height: 10px;
  }
  @media (min-width: @tablet-width) {
    display: block;
    margin: 0;
    margin-left: 45px;
    padding: 0;
    font-size: 18px;
    line-height: 18px;
    width: 90px;
    & span {
      display: block;
      margin: 0;
      padding: 0;
      font-size: 36px;
      line-height: 50px;
    }
  }
}

.decor__container {
  margin: 0 auto;
  width: 240px;
}

.decor__list {
  padding: 0;
  list-style-type: none;
}

.decor__items {
  display: none;
  position: relative;
}

.show {
  display: block;
}

.decor__images {
  width: 170px;
  margin-left: 35px;
  @media (min-width: @tablet-width) {
    width: 210px;
    margin-right: 25px;
  }
}

.decor__numberslide {
  font-family: "Circe", "Arial", sans-serif;
  color: @black;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  position: absolute;
  top: 165px;
  right: 48px;
  @media (min-width: @tablet-width) {
    color: @text-color;
    opacity: 0.7;
    top: 210px;
    right: -70px;
  }
}

.decor__name {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-family: "CirceRegular", "Ärial", sans-serif;
  font-size: 14px;
  text-align: center;
}

.decor__price {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-family: "PlayfairDisplayBold", "Arial", sans-serif;
  font-size: 18px;
  text-align: center;
  @media (min-width: @tablet-width) {
    text-align: left;
    margin-bottom: 0;
  }
}
