.footer {
  background-color: @footer-background;
  padding-top: 50px;
  padding-bottom: 20px;
  color: @white;
  font-family: "RobotoRegular", "Arial";
  font-size: 14px;
}

.footer__wrapper {
  margin: 0 auto;
  max-width: 280px;
}

.footer__logo {
  margin: 0;
  padding: 0;
  font-family: "PlayfairDisplayBold", "Arial";
  font-size: 28px;
  color: @white;
}

.footer__list {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  list-style: none;
}

.footer__item {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.footer__social-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.footer__social-item {
  width: 40px;
  height: 40px;
  background-color: white;
}

.footer_text {
  border-top: 1px solid white;
  padding-top: 10px;
}
