.how-to-order {
  margin-top: -270px;
  background-color: @button-color-hover;
  color: @white;
}

.how-to-order__title {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  max-width: 280px;
  text-align: center;
  font-family: "PlayfairDisplayBold", "Ärial";
  font-size: 24px;
}

.how-to-order__list {
  list-style-type: decimal;
}
