.intro {
  margin: 0 auto;
  margin-bottom: 255px;
  padding: 0;
  width: 320px;
  height: 225px;
  text-align: center;
  background-repeat: no-repeat;
  background-position-y: -40px;
  background-size: cover;
  background-image: url("@{images}/intro-picture-mobile@1x.png");

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("@{images}/intro-picture-mobile@2x.png");
  }
}

.intro__title {
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 0;
  padding-top: 126px;
  width: 185px;
  font-family: "PlayfairDisplayBold", "Arial", sans-serif;
  color: @text-color;
  font-size: 40px;
  font-weight: 700;
  line-height: 37px;
}

.intro__tagline {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-family: "IntroScriptRH2Base", "Arial", sans-serif;
  font-size: 22px;
  line-height: 10px;
  color: @tagline-color;
}

.intro__text-wrapper {
  margin-bottom: 57px;
}

.intro__text {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0;
  font-family: "CirceRegular", "Arial", sans-serif;
  color: @black;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}
