.intro {
  margin: 0 auto;
  margin-bottom: 255px;
  padding: 0;
  width: 320px;
  height: 225px;
  text-align: center;
  background-repeat: no-repeat;
  background-position-y: -40px;
  background-size: cover;
  background-image: url("@{images}/intro-picture-mobile@1x.png");
  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("@{images}/intro-picture-mobile@2x.png");
  }
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 140px;
    width: 768px;
    height: 580px;
    background-image: url("@{images}/intro-picture-tablet@1x.png");
    background-size: 496px 571px;
    background-position-x: right;
    background-position-y: 13px;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("@{images}/intro-picture-tablet@2x.png");
    }
  }
}

.intro__title {
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 0;
  padding-top: 126px;
  width: 185px;
  font-family: "PlayfairDisplayBold", "Arial", sans-serif;
  color: @text-color;
  font-size: 40px;
  font-weight: 700;
  line-height: 37px;
  @media (min-width: @tablet-width) {
    margin: 0;
    margin-left: 48px;
    margin-top: 85px;
    margin-bottom: 30px;
    padding: 0;
    width: 270px;
    font-size: 60px;
    line-height: 55px;
    text-align: left;
  }
}

.intro__tagline {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-family: "IntroScriptRH2Base", "Arial", sans-serif;
  font-size: 22px;
  line-height: 10px;
  color: @tagline-color;
  @media (min-width: @tablet-width) {
    margin-left: 48px;
    margin-bottom: 55px;
    text-align: left;
    font-size: 36px;
    line-height: 77px;
  }
}

.intro__text-wrapper {
  margin-bottom: 57px;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-left: 65px;
    padding: 0;
    order: 2;
    display: flex;
    width: 460px;
  }
}

.intro__text {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0;
  font-family: "CirceRegular", "Arial", sans-serif;
  color: @black;
  font-size: 14px;
  font-weight: 400;
  text-align: left;

  @media (min-width: @tablet-width) {
    width: 85px;

    &:last-child {
      width: 170px;
    }
  }
}

.intro__button {
  @media (min-width: @tablet-width) {
    margin: 0;
    margin-left: 48px;
    margin-bottom: 150px;
  }
}
