.main-nav {
  position: relative;
  margin: 0 auto; // top: 10px;
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 480px;
  }
}

.main-nav__toggle {
  position: absolute;
  top: -26px;
  right: 20px;
  z-index: 2;
  display: block;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 16px;
  border: none;
  background-color: @white;
  cursor: pointer;
  @media (min-width: @tablet-width) {
    top: 20px;
    left: 0;
    width: 26px;
  }
}

.main-nav--closed .main-nav__toggle::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 2px;
  background-color: @black;
  box-shadow: 0 6px 0 0 @black, 0 12px 0 0 @black;
  content: "";
  @media (min-width: @tablet-width) {
    width: 26px;
    box-shadow: 0 9px 0 0 @black, 0 18px 0 0 @black;
  }
}

.main-nav--opened .main-nav__toggle {
  top: -26px;
  right: 20px;

  @media (min-width: @tablet-width) {
      top: 20px;
  }
    &::before, &::after {
      position: absolute;
      top: 7px;
      left: 0;
      width: 18px;
      height: 2px;
      background-color: @black;
      content: "";
    }
    &::before {
      box-shadow: none;
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
  .main-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    @media (min-width: @tablet-width) {
      position: relative;
      top: 60px;
      left: -130px;
    }
  }
  @media (max-width: @desktop-only) {
    .main-nav--closed .site-list__item {
      display: none;
      &--active {
        display: block;
      }
    }
    .main-nav--nojs .main-nav__toggle {
      display: none;
    }
  }
