.reviews {
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0;
  max-width: 280px;
  width: 100%;
  text-align: center;
  @media (min-width: @tablet-width) {
    margin-top: -40px;
    margin-bottom: 60px;
    max-width: 768px;
    background-image: url("@{images}/bg-reviews-tablet@1x.png");
    background-size: 766px 72px;
    background-position-x: left;
    background-repeat: no-repeat;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("@{images}/bg-reviews-tablet@2x.png");
    }
  }
  @media (min-width: @desktop-width) {
    max-width: 1366px;
    margin-bottom: 175px;
    background-image: url("@{images}/bg-reviews-desktop@1x.png");
    background-size: 1366px 150px;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("@{images}/bg-reviews-desktop@2x.png");
    }
  }
}

.reviews__title {
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: "PlayfairDisplayBold", "Arial", sans-serif;
  font-size: 24px;
  @media (min-width: @tablet-width) {
    padding-top: 45px;
    font-size: 28px;
  }
  @media (min-width: @desktop-width) {
    margin-bottom: 65px;
    padding-top: 115px;
    font-size: 40px;
  }
}

.reviews__slider {
  position: relative;
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    width: 420px;
    margin: 0 auto;
  }
  @media (min-width: @desktop-width) {
    width: 620px;
  }
}

.reviews__author-image {
  margin: 0 auto;
  margin-bottom: 5px;
  display: block;
  height: 59px;
  width: 59px;
  border-radius: 50%;
  @media (min-width: @tablet-width) {
    width: 100px;
    height: 100px;
    margin-right: 30px;
  }
  @media (min-width: @desktop-width) {
    width: 210px;
    height: 210px;
    margin-right: 55px;
  }
}

.reviews__wrapper {
  @media (min-width: @tablet-width) {
    text-align: left;
  }
}

.reviews__author-name {
  margin: 0;
  padding: 0;
  font-family: "CirceBold", "Arial", sans-serif;
  font-size: 14px;
  @media (min-width: @tablet-width) {
    font-size: 16px;
  }
  @media (min-width: @desktop-width) {
    font-size: 27px;
  }
}

.reviews__author-description {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-family: "CirceRegular", "Arial", sans-serif;
  font-size: 12px;
  text-transform: lowercase;
  @media (min-width: @tablet-width) {
    font-size: 14px;
  }
  @media (min-width: @desktop-width) {
    font-size: 20px;
  }
}

.reviews__author-text {
  margin: 0 auto;
  padding: 0;
  width: 230px;
  font-family: "CirceRegular", "Arial", sans-serif;
  font-size: 12px;
  @media (min-width: @tablet-width) {
    width: 255px;
    font-size: 14px;
  }
  @media (min-width: @desktop-width) {
    width: 355px;
    font-size: 19px;
  }
}

.reviews__author-more {
  color: @button-color;
  text-decoration: underline;
  font-style: italic;
}

.reviews__counter {
  margin: 0;
  padding: 0;
  font-family: "CirceRegular", "Arial", sans-serif;
  font-size: 12px;
  text-align: right;
  position: absolute;
  right: -5px;
  bottom: 0;
  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.reviews__slider .prev {
  @media (min-width: @tablet-width) {
    left: -80px;
    top: -95px;
  }
  @media (min-width: @desktop-width) {
    top: -135px;
  }
}

.reviews__slider .next {
  @media (min-width: @tablet-width) {
    right: -80px;
    top: -95px;
  }
  @media (min-width: @desktop-width) {
    top: -135px;
  }
}
