.site-list {
  background-color: rgb(231, 231, 231);
  text-align: center;
  font-family: "CirceRegular", "Arial", sans-serif;
  font-size: 12px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: @desktop-width) {
    background-color: @rose-background;
    display: flex;
    font-size: 13px;
    height: 80px;
  }
}

.site-list__item {
  border-top: 1px solid rgb(222, 222, 222);
  height: 39px;

  @media (min-width: @desktop-width) {
    border-top: none;
    margin-top: 57px;
    margin-left: 40px;
  }
}

.site-list__item a {
  color: @text-color;

  &:hover {
    color: @button-color;
  }
}
