.slider__control {
  margin: 0;
  padding: 0;
  display: none;
  @media (min-width: @tablet-width) {
    display: block;
  }
}

.slider__arrow {
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 95px;
  background-color: @white;
  border-radius: 50%;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  &::after {
    content: "";
    position: relative;
    display: inline-block;
    margin: 6px; //set size
    padding: 6px; //set tickness
    box-shadow: 2px -2px 0 0 @button-color inset;
  }
}

@margin: 45px; // size - tickness (more or less)
.prev {
  transform: rotate(45deg);
  left: @margin;
}

.next {
  transform: rotate(225deg);
  right: @margin;
}

.prev {
  @media (min-width: @tablet-width) {
    left: -80px;
  }
}

.next {
  right: 0;
  @media (min-width: @tablet-width) {
    right: -80px;
  }
}

.prev:hover,
.next:hover {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
}

.slider-dot__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  margin-bottom: 15px;
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.reviews__slider-dot,
.slider-dot {
  padding: 0;
  height: 6px;
  width: 6px;
  margin: 0 2px;
  background-color: @alto;
  border-radius: 50%;
  transition: background-color 0.6s ease;
}

.active,
.slider-dot:hover {
  height: 8px;
  width: 8px;
  background-color: @button-color-hover;
}

.last {
  height: 4px;
  width: 4px;
  background-color: @alto;
}

// .slider-fade {
//   animation-name: fade;
//   animation-duration: 1.5s;
// }
// @keyframes fade {
//   from {
//     opacity: 0.4;
//   }
//   to {
//     opacity: 1;
//   }
// }
// .slider__wrapper-tablet {
//   @media (min-width: @tablet-width) {
//     width: 210px;
//   }
// }
// .slider__decor-name,
// .slider__title {
//   margin: 0;
//   margin-bottom: 5px;
//   padding: 0;
//   font-family: "CirceBold", "Arial", sans-serif;
//   font-size: 16px;
//   @media (min-width: @tablet-width) {
//     font-size: 18px;
//   }
// }
// .slider__decor-name {
//   @media (min-width: @tablet-width) {
//     font-family: "CirceRegular", "Arial", sans-serif;
//     font-size: 14px;
//   }
// }
// .text-center {
//   text-align: center;
// }
// .slider__decor-price {
//   margin: 0;
//   margin-bottom: 10px;
//   padding: 0;
//   font-family: "PlayfairDisplayBold", "Arial", sans-serif;
//   font-size: 18px;
//   text-align: center;
//   @media (min-width: @tablet-width) {
//     text-align: center;
//     font-size: 14px;
//   }
// }
